.joinButton2{
    background-color: rgba(63, 81, 181, 0.08) !important;
    color: #3F51B5 !important;
    font-family: NotoSansKR-Bold !important;
    font-size: 14px !important;
}

.joinButtonUnValid{
    font-family: NotoSansKR-Bold !important;
    font-size: 14px !important;
}
